.row {
  padding-left: 0;
  padding-right: 0;
  margin-right: 0;
  margin-left: 0;
}


#footer {
  position: absolute;
  bottom: 0;
}

.card-img-top {
  margin: auto;
  width: 200px;
  height: 200px;
}

#oferta {
  width: 350px;
  height: 900px;
}

#titulo {
  background-color: darkcyan;
  color: white;
  text-align: center;
}

#datos {
  color: blue;
}

#iconos {
  height: 25px;
}